doctype html
html(lang='en', ng-app='ia')
  head
    title imgur-activity
    meta(name='description', description='Watch imgur activity in realtime')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/boilerplate.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

    //- script(src="js/vendor/modernizr-2.8.3.min.js")
    block head

  body
    block main

  footer
    block foot