extends base

block head
  link(rel="stylesheet", href="/css/ia.css")
  style [ng-cloak] { display: none; }

block main
  #ia.container
    header
      h1 imgur activity

    include ./includes/tabs
    
    include ./includes/activity
    include ./includes/watches
    include ./includes/about


block foot
  script(src="http://code.jquery.com/jquery-1.11.2.min.js")
  script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
  script(src="/js/ia.js")
  script(src="/js/ctrls.js")
  script(src="/js/api.js")
