extends layout

block main
  h1 Users

  .add-user
    form#addUser(name="adduser", method="post", action="/users/add")
      span Add new user:&nbsp; 
      input#name(type="text", placeholder="username", name="name")
      button#btnSubmit(type="submit") Submit

  .users
    if users.length
      ol 
        each user in users
          li #{user.name}
    else
      p No users            
