
#watches(ng-show='tab === 2', ng-cloak)
  br
  form#watch-add.form-inline(ng-submit="addWatch()")
    .form-group
      label(for='watch-add-id') ID: &nbsp;
      input#watch-add-id.form-control(ng-model="addWatchID", type='text', placeholder=" example: gd57Pw1", autofocus)
      &nbsp; 
      button.btn.btn-primary(type="submit") Add
      &nbsp; 
      span.btn.btn-danger(ng-show="showMsg" ng-model="msg" ng-cloak role="alert" disabled) {{msg}}

  .watches-list(ng-show='watches.length') 
    br
    table.table.table-striped.table-condensed
      thead
        tr
          th id
          th started
          th 
      tbody
        tr(ng-repeat="watch in watches | orderBy:'started'")
          td {{watch.img_id}}
          td {{watch.started | date:'short'}}
          td.text-right 
            span.glyphicon.glyphicon-remove(ng-click="deleteWatch(watch)")

  .watches-empty(ng-hide='watches.length') 
    h3 No watches yet
