
<ul class="nav nav-tabs">
  <li>
     
    {{#link-to 'activity'}}Activity{{/link-to}}
  </li>
  <li>
     
    {{#link-to 'watches'}}Watches{{/link-to}}
  </li>
  <li>
     
    {{#link-to 'about'}}About{{/link-to}}
  </li>
</ul>
<div class="outlet">{{outlet}}</div>