 
<ul class="nav nav-tabs">
  {{#link-to 'activity' tagName='li'}}
    {{link-to 'Activity' 'activity'}}
  {{/link-to}}
  {{#link-to 'watches' tagName='li'}}
    {{link-to 'Watches' 'watches'}}
  {{/link-to}}
  {{#link-to 'about' tagName='li'}}
    {{link-to 'About' 'about'}}
  {{/link-to}}
</ul>
<div class="outlet">{{outlet}}</div>